# Climbing Data With `pandas` Exercises

## 1. Import

- Import `sqlite3` and `pandas`
- Remember to import `pandas` with the name `pd`

In [ ]:
# Add imports here

## 2. SQL Connection

- Create a connection to the `sqlite3` database with path `/data/database.sqlite`
- Remember to make sure that you have downloaded the file `database.sqlite` to the folder `/data`

In [ ]:
# Create an sqlite3 connection here

## 3. Read Into `pandas`

- We now want to use `pd.read_sql` to read four tables into separate dataframes:
    - `user` -> `df_user`
    - `grade` -> `df_grade`
    - `method` -> `df_method`
    - `ascent` -> `df_ascent`

In [ ]:
# Get tables into pandas dataframes

## 4. View Each `DataFrame`

- Let us look at summaries for every dataframes
- When we want to display multiple items in `jupyter` we can use `display()`
- Display the remaining two dataframes in the cell below

In [ ]:
display(df_user)
display(df_grade)

# Display the reamining dataframes here

## 5. Explore All Tables

- Display table
- Display column names
- Get numeric column summaries
- Use `value_counts()` to understand categorical columns

In [ ]:
# Write code to explore tables here

## 6. Exploring Ascent Data

- We have already seen the number of ascents/climbs per user in the tutorial
- Let us find the number of ascents/climbs per grade and then per year
- You will find some odd data for the year data

In [ ]:
# Write code here to see the number of climbs per grade

In [ ]:
# Write code here to see the number of climbs per year

## 7. Filtering Ascent Data

- In the tutorial we filtered data to remove any climb with year below 1980, first copy that code into this notebook
- Then also filter out all climbs strictly above 2017

In [ ]:
# Write code here to filter data

## 8. Plotting Ascent Data

- In the tutorial we found the value counts for the `grade_id` column and plotted it
- Now, we would like to do the do the same for the `year` column

In [ ]:
# Write code here to plot data

## 9. Random User Ascents

- For user with `user_id` = 34623, we want to find the maximum `grade_id` they climbed per year
- Hint: You will have to use a groupby here unlike the example in the tutorial

In [ ]:
# Write code here to get the maximum grade_id by year

## 10. Joining Dataframes

- Join the `df_user` dataframe to the first 1000 rows of `df_ascent`

In [ ]:
# Write code here to get the joined data